section.container {
    background-image: url("../../../images/background-section-1-optimized.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}

.content {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
}

.content h1 {
    max-width: 50%;
    color: var(--primary);
    font-size: 50px;
}

.content h2 {
    max-width: 50%;
    margin-top: 20px;
}

.content button {
  width: fit-content;
  display: inline-block;
  padding: 20px 20px;
  margin-top: 30px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  background-color: var(--accent);
  color: var(--white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.content button:hover {
  transform: scale(1.1);
}


/* .content button {
    display: block;
    width: fit-content;
    
    padding: 20px 20px;
    border: none;
    border-radius: 10px;
    background-color: var(--accent);
    color: var(--white);
} */