* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

:root {
    --primary: #0f5749;
    --secondary: #f7f0de;
    --text: #121614;
    --accent: #F08700;
    --dark-green: #09342c;
    --light-accent: #ECA847;
    --white: #ffffff;

    --text-font: "Nunito", sans-serif;
    --title-font: "Montserrat", sans-serif;
}

body {
}

.content {
    width: 100%;
    max-width: 1200px;
}

h1, h2, h3 {
    font-family: var(--title-font);
    margin: 0;
    color: var(--text);
}

p, button, a, span {
    font-family: var(--text-font);
    margin: 0;
}

button {
    font-weight: 600;
    font-size: 17px;
    text-transform: uppercase;
}

img {
    margin: 0;
}